@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
html, body{
    height: 100%;
}
body{
    background-image: url('Quartzo.avif');
    background-size: cover;
}
.perfilWrapper{
    display: flex;
    justify-content: right;
}
.perfil{
    margin-top: 20px;
    background-color: #a4b895;
    box-shadow: -20px 0 0 #435430;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: left;
    border-top-left-radius:150px;
    border-bottom-left-radius:150px;
}