*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
    background-image: url('Fundo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
body{
    position: relative;
}
.wrapper{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 30px;
    color: #ffe4b8;
    text-align: center;
}
.imagem{
    width: 200px;
    border-radius: 50%;
    border: 5px solid #ffedcf;
    box-shadow: 0 0 60px #ffe4b8;
    animation: borderBlink ease-in-out infinite 4s;
}
hr{
    border-color: #000;
}
.name{
    color: #fff;
    text-decoration: none;
}
.slider >h1{
    padding-top: 30px;
}
.p{
    padding: 10px 0;
}
.slider, .slider2{
    background: radial-gradient(circle, #2cc3c5 0%, #2b9698 66%);
    border-radius: 20px;
    overflow: hidden;
    width: 60%;
    min-width: 300px;
}
h1{
    margin: 40px 0;
    color: #fff;
    background: radial-gradient(circle, #2cc3c5 0%, #2b9698 66%);
    border: 2px solid #10cfff;
    border-radius: 5px;
    padding: 5px;
}
.slider >h2, .slider2>h2{
    padding: 10px 0;
}
.button{
    width: 60%;
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    background: radial-gradient(circle, rgb(0, 178, 92) 0%, rgb(0, 195, 75) 66%);
    height: 40px;
    border-radius: 10px;
    margin: 50px 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
}
.button:hover{
    transform: scale(1.05);
}
.linkWhats{
    position: fixed;
    cursor: pointer;
    right: 5%;
    bottom: 50%;
    animation: whatsFloat 4s infinite ease-in-out;
}
.logoWhats{
    width: 4rem;
}
@keyframes whatsFloat {
    0%{
        transform: translateY(0);
    }
    50%{

        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }   
}
@keyframes borderBlink{
    0%{
        border: 5px solid #ffedcf;
        box-shadow: 0 0 60px #ffe4b8;
    }
    50%{
        border: 5px solid rgb(250, 103, 255);
        box-shadow: 0 0 60px rgb(250, 103, 255);
    }
    100%{
        border: 5px solid #ffedcf;
        box-shadow: 0 0 60px #ffe4b8;
    }
}
@media screen and (max-width:590px){
    .slider, .slider2, .button{
        width: 100%;
    }
}